{% load static%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css'%}" />
  </head>
  <body>
    <div class="container">
      <div class="section">
        <div class="box" id="b1">
          <div class="box1">
            <img src="{%static 'img/logo.png'%}" alt="" />
            <ul>
              <li><a href="">About us</a></li>
              <li><a href="">Service</a></li>
              <li><a href="">Product</a></li>
              <li><a href="">Contact us</a></li>
            </ul>
          </div>
        </div>
        <div class="box" id="b2">
          <img src="{%static 'img/watch1.jpg'%}" alt="" />
          <h1>$400</h1>
          <h2>BUY NOW</h2>
          <p>
            Discover our exclusive collection of premium watches – where style
            meets precision. Whether you're dressing up for a formal event or
            keeping it casual, our timepieces are designed to complement every
            look. Crafted with quality, powered by innovation, and built to
            last. <br />
            <span id="line">Luxury you can feel. Time you can trust.</span>
            <br /><br />

            <mark style="font-style: oblique"
              >Shop now and elevate your wrist game!</mark
            >
          </p>
        </div>

        <div class="box" id="b3">
          <div class="product1">
            <img src="{%static 'img/lediswatch.webp'%}" alt="" />
          </div>
        </div>
        <div class="box" id="b4">
          <div class="product2">
            <img src="{%static 'img/brownwatch.jpg'%}" alt="" />
          </div>
        </div>
        <div class="box" id="b5">
          <div class="product3">
            <img src="{%static 'img/blue.webp'%}" alt="" />
          </div>
        </div>
        <div class="box" id="b6">
          <div class="product4">
            <img src="{%static 'img/greenwatch.webp'%}" alt="" />
          </div>
        </div>
        <div class="box" id="b7">
          <div class="product5">
            <h2>EXPERT WATCH SERVICES YOU CAN RELY ON</h2>
            <br />
            <p>
              From battery replacements to full-service overhauls, we specialize
              in maintaining the performance and beauty of your timepiece. Our
              skilled technicians handle every watch with precision and care,
              ensuring it runs like new. <br /><br />
            </p>

            <ul style="list-style-type: circle">
              <li>Battery Replacement</li>
              <li>Strap Adjustment & Replacement</li>
              <li>Water Resistance Testing</li>
              <li>Movement Servicing & Cleaning</li>
              <li>Polishing & Restoration</li>
            </ul>
            <br />

            <p>
              Trust us to keep your watch ticking perfectly — because every
              second matters.
            </p>
          </div>
        </div>

        <div class="box" id="b8">
          <div class="footer">
            <div class="foot1">
              <h1>Special Collection</h1>
              <hr />
              <br /><br />
              <ul style="list-style-type: none">
                <li><a href="#">Automatic</a></li>
                <li><a href="#">Batman</a></li>
                <li><a href="#">Iron-man</a></li>
                <li><a href="#">Luffy</a></li>
                <li><a href="#">Uchiha</a></li>
              </ul>
            </div>
            <div class="foot2">
              <h1>Contact Us</h1>
              <hr>
              <br><br>
              <h2>+91 987456321</h2>
              <h2>+91 525252525</h2>
              <hr>
              <h2><a href="">abc@gmail.com</a></h2>
              <h2><a href="">xyz@gmail.com</a></h2>
            </div>
            <div class="foot3">
              <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7662.645598676729!2d73.86944165910012!3d16.203836387722465!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc06b6f9c76ef0d%3A0xfbd30b309c12ec79!2sNaradave%2C%20Maharashtra%20416632!5e0!3m2!1sen!2sin!4v1744287916336!5m2!1sen!2sin"
                width="600"
                height="450"
                style="border: 0"
                allowfullscreen=""
                loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"
              ></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
