{% extends 'watch/index.html' %}
{% block title%} Luxury watches{% endblock %}
{% load static %}
{% block content%}
<div class="warpper">
  <div class="row justify-content-center align-content-center m-5">
    {% for product in products%}
    <div class="col-12 col-md-4 mb-4">
      <div class="card1 h-80 rounded-3 shadow-lg">
        <img src="{{ product.image.url }}" class="card-img-top-fluid img-thumbnail" alt="{{ product.name }}">
        <div class="card-body align-content-center text-center p-2">
          <h5 class="card-title">{{ product.name }}</h5>
          <p class="card-text">{{ product.description }}</p>
          <p class="card-text"><strong>Price:</strong> ${{ product.price }}</p>
          <a href="{% url 'submit_product' product.id %}" class="btn btn-primary">View Details</a>
        </div>
      </div>
    </div>
    {%endfor%}

  </div>
  <div class="row gx-0 m-2">
    <div class="col-12 col-md-6">
      <a href="{% url 'mens'%}" class="text-decoration-none text-white">
        <div class="position-relative text-center">
          <img class="img-fluid w-100" src="{% static 'img/men.jpg' %}" alt="Men">
          <h3 class="position-absolute bottom-0 start-50 translate-middle-x bg-dark bg-opacity-50 w-100 py-2 m-0">MEN
          </h3>
        </div>
      </a>
    </div>
    <div class="col-12 col-md-6">
      <a href="{% url 'ladies' %}" class="text-decoration-none text-white">
        <div class="position-relative text-center">
          <img class="img-fluid w-100" src="{% static 'img/women.jpg' %}" alt="Women">
          <h3 class="position-absolute bottom-0 start-50 translate-middle-x bg-dark bg-opacity-50 w-100 py-2 m-0">WOMEN
          </h3>
        </div>
      </a>
    </div>
  </div>


</div>

{% endblock %}