{%extends 'watch/index.html'%}
{% block title %} Servises {%endblock%}
{%load static %}
{% block content %}
<div class="container text-center">
    <div class="row align-items-center m-5">
        <div class="col-md-5">
            <img class="img-fluid" src="{%static 'img/rock.jpg'%}" alt="">
        </div>
        <div class="col-md-6">
            <h1>Diagnostic</h1>
            <p>A specialist watchmaker analyzes the reason for which the watch has been submitted for maintenance and
                identifies the watch from its unique serial number.</p>

        </div>
    </div>
    <div class="row align-items-center m-5">
        <div class="col-md-6">
            <h1>Case disassembly
            </h1>
            <p>Disassembly of the case and its components (glass, back, bezel, various seals, etc.) and separation of
                the movement.</p>

        </div>
        <div class="col-md-5">
            <img class="img-fluid" src="{%static 'img/assembly.jpg'%}" alt="">
        </div>

    </div>

    <div class="row align-items-center m-5">
        <div class="col-md-5">
            <img class="img-fluid" src="{%static 'img/servises1.jpg'%}" alt="">
        </div>
        <div class="col-md-6">
            <h1>Movement disassembly</h1>
            <p>Full part-by-part disassembly of the movement.</p>

        </div>
    </div>

    <div class="row align-items-center m-5">
        <div class="col-md-6">
            <h1>Case polishing
            </h1>
            <p>Polishing of the case to restore the original lustre to a watch which has been worn for some time.</p>

        </div>
        <div class="col-md-5">
            <img class="img-fluid" src="{%static 'img/servises2.jpg'%}" alt="">
        </div>
    </div>

    <div class="row align-items-center m-5">
        <div class="col-md-5">
            <img class="img-fluid" src="{%static 'img/servises3.jpg'%}" alt="">
        </div>
        <div class="col-md-6">
            <h1>Installation of case and movement
            </h1>
            <p>Assembly of movement (including dial and hands) in the case and complete reassembly of the watch</p>
        </div>

    </div>

    <div class="row align-items-center m-5">
        <div class="col-md-6">
            <h1>Technical and cosmetic checks
            </h1>
            <P>Final technical (precision, power reserve, water resistance) and cosmetic checks on the watch, according to LONGINES specifications.</P>
        </div>
        <div class="col-md-5">
            <img class="img-fluid" src="{%static 'img/servises4.jpg'%}" alt="">
        </div>
    </div>

</div>
{% endblock %}